.page .soustitre-texte {
    font-weight: 400;
    font-size: 14px;
    color: #11111156;
}

.Rectangle4 {
    border-radius: 30px;
    border: 5px dashed #11111156;
    width: 100%;
    cursor: pointer;
    height: 400px;
    align-content: center;
    text-align: center;
}

.Rectangle4 img {
    width: 100%;
}

.Rectangle4 p {
    height: 100%;
    align-content: center;
    font-size: 30px;
    color: #24BD3D;
    background-color: #D3F2D8;
    border-radius: 25px;
}

.block1{    
    display: flex;
    flex-direction: row !important;
    width: 70% !important;
    align-items: center !important;
    justify-content: space-around !important;
}

.list-produit-televerser{
    height: 60vh !important;
}