.page {
    padding: 32px;
}

.page span {
    margin: 0;
}

.page .header {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page .header span {
    font-family: Bricolage Grotesque;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #11111150;
}

.page .header p {
    padding: 10px 15px;
    background-color: #111111;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}

.page .corps {
    width: 100%;
    border: 1px solid #0000001F;
    border-radius: 16px 0px 16px 16px;
}

.page .corps thead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 24px;
    align-items: center;
    border-radius: 16px 0px 0px 0px;
    background: #00000014;
    border-bottom: 1px solid #0000001F;
}

.page .corps thead div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 18%;
    gap: 10px;
    border-right: 1px solid #0000001F;
}

.page .corps thead .block {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.page .corps thead div p {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;
    letter-spacing: -0.02em;
    text-align: left;
}

.page .corps thead div:nth-last-child(1) {
    border-right: none;
}

.page .corps thead div span {
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: 15.4px;
    letter-spacing: -0.02em;
    text-align: left;
    font-size: 14px;
}



.page .corps tbody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 24px;
    align-items: center;
    border-bottom: 1px solid #11111130;
}

.page .corps tbody div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
}

.page .corps tbody .nom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page .corps tbody .nom img {
    border-radius: 10px;
    width: 48px;
}

.page .corps tbody .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.page .corps tbody .action img {
    padding: 10px;
}

.page .corps tbody .action img:hover {
    background-color: #11111110;
    border-radius: 5px;
    cursor: pointer;
}

.page .corps tbody div p {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.4px;
    letter-spacing: -0.02em;
    text-align: left;
}

.page .corps tbody div span {
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: 15.4px;
    letter-spacing: -0.02em;
    text-align: left;
    font-size: 14px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-produit {
    /* width: 25%;
    display: flex;
    flex-direction: column; */

    position: sticky;
    overflow-y: auto;
    min-height: 20vh;
    /* height: 50vh; */
    max-height: 30vh;

}


.list-produit::-webkit-scrollbar {
    display: none;
}


.list-produit {
    scrollbar-width: none;
}

.list-produit div:nth-last-child(1) tbody {
    border: none;
}

.block-pagination {
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    background: #111111;
    border-radius: 0 0 16px 16px;
    align-items: center;
    padding: 8px;
    gap: 10px;
}

.pagination .div-img {
    background: #FFFFFF1F;
    padding: 8px;
    border-radius: 50%;
    align-items: center;
    display: flex;
}

.pagination button {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFFA3;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    gap: 5px;
}

.pagination button p {
    display: none;
}

.pagination button.active {
    color: white;
}

.pagination button.active p {
    display: block;
}

.pagination button:hover,
.pagination .div-img:hover {
    opacity: 0.7;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #D3F2D8;
}

.kebab-button {
    padding: 10px 20px;
    background-color: #8d8d8d15;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #8d8d8d15;
    margin-left: 100%;
}

.kebab-button:hover {
    padding: 10px 20px;
    background-color: #11111115;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #11111100;
}

.activite {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.activite p {
    font-family: Bricolage Grotesque;
    font-size: 20px;
    font-weight: 600;
    line-height: 26.4px;
    letter-spacing: -0.02em;
    text-align: left;
}

.activite .list-activite {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.activite .list-activite div {
    border-radius: 24px;
    background: #1111110A;
    padding: 32px 24px;
    width: 25%;
}

.activite .list-activite span {
    font-family: Bricolage Grotesque;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.6px;
    letter-spacing: -0.02em;
    text-align: left;
}

.corps-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.corps-header p {
    font-family: Bricolage Grotesque;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.4px;
    letter-spacing: -0.02em;
    text-align: left;
}

.corps-header .corps-header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #111111;
    border-radius: 16px 16px 0px 0px;
    padding: 8px;
    gap: 20px;
    width: 45%;
}

.corps-header .corps-header-div input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 70%;
    color: #FFF;
}

.corps-header .corps-header-div .div-img {
    background: #FFFFFF1F;
    padding: 8px;
    border-radius: 50%;
    align-items: center;
    display: flex;
}

.corps-header .corps-header-div .div-img:hover {
    opacity: 0.7;
}